# -*- coding: utf-8 -*-
#
# This file is part of Invenio.
# Copyright (C) 2015-2020 CERN.
#
# Invenio is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include .dockerignore
include .editorconfig
include .tx/config
include *.rst
include *.sh
include *.txt
include babel.ini
include docs/requirements.txt
include LICENSE
include pytest.ini
prune docs/_build
recursive-include .github/workflows *.yml
recursive-include docs *.bat *.py *.rst Makefile *.png
recursive-include invenio_theme *.example
recursive-include invenio_theme *.html *.js *.scss *.config
recursive-include invenio_theme *.less
recursive-include invenio_theme *.overrides
recursive-include invenio_theme *.po *.svg
recursive-include invenio_theme *.svg
recursive-include invenio_theme *.variables
recursive-include invenio_theme *.woff
recursive-include invenio_theme *.woff2
recursive-include tests *.py
