# SPDX-FileCopyrightText: 2015-2018 CERN.
# SPDX-License-Identifier: MIT

-e git+https://github.com/inveniosoftware/flask-menu.git#egg=Flask-Menu
-e git+https://github.com/inveniosoftware/flask-breadcrumbs.git#egg=Flask-Breadcrumbs
-e git+https://github.com/inveniosoftware/invenio-i18n.git#egg=invenio-i18n
-e git+https://github.com/inveniosoftware/invenio-base.git#egg=invenio-base
-e git+https://github.com/inveniosoftware/invenio-assets.git#egg=invenio_assets
