{#
  SPDX-FileCopyrightText: 2015-2018 CERN.
  SPDX-License-Identifier: MIT
#}
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12"><hr /></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-push-6 text-right">
        {%- if config.I18N_LANGUAGES %}
        {% from "invenio_i18n/macros/language_selector.html" import language_selector_dropdown %}
        {{ language_selector_dropdown() }}
        {%- endif %}
      </div>
      <div class="col-xs-6 col-xs-pull-6">
        {% trans link="http://inveniosoftware.org" %}Powered by <a href="{{link}}">Invenio</a>{% endtrans %}
      </div>
    </div>
  </div>
</footer>
